
<%= form_for @citation, :html => { :class => "form-horizontal citation" } do |f| %>

    <% if @citation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@citation.errors.count, "error") %> prohibited this citation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @citation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Fecha", :class => 'control-label' %>
      <input class="form-control" placeholder="" type="date" title="Fecha" name="citation[:date]" id="fecha">
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Hora", :class => 'control-label' %>
      <div class="input-group clockpicker">
         <input class="form-control" type="clock" name="citation[:time]" id="hora" %>
          <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>

      </div>
  </div>
</div>


<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Cliente", :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:client_id, @clients, {:include_blank =>"Seleccione"}, {:class => 'form-control'}) %>
    </div>
    <%= error_span(@citation[:patient_id]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observaciones", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control', :type => 'number'%>
    </div>
    <%= error_span(@citation[:observation]) %>
  </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-3">
<a class="btn btn-primary" id="VerDisponibilidad"><span class="icon"></span>Ver disponibilidad</a>
<a class="btn btn-primary" id="OcultarDisponibilidad" style="display: none;" ><span class="icon"></span>Ocultar disponibilidad</a>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div id="Disponibilidad" class="col-md-12">
<div class="panel panel-primary" id="panelDisponibilidad">
                            <div class="panel-heading">
                                <strong>Disponibilidad</strong>
                            </div>
                            <div class="panel-body"> 
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div aria-label="First group" role="group" class="btn-group">
                                            <button class="btn btn-default" type="button">08:00</button>
                                            <button class="btn btn-default" type="button">09:00</button>
                                            <button class="btn btn-default" type="button">10:00</button>
                                            <button class="btn btn-default" type="button">11:00</button>
                                            <button class="btn btn-default" type="button">12:00</button>
                                            <button class="btn btn-default" type="button">13:00</button>
                                            <button class="btn btn-default" type="button">14:00</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div aria-label="First group" role="group" class="btn-group">
                                            <button class="btn btn-default" type="button">15:00</button>
                                            <button class="btn btn-default" type="button">16:00</button>
                                            <button class="btn btn-default" type="button">17:00</button>
                                            <button class="btn btn-default" type="button">18:00</button>
                                            <button class="btn btn-default" type="button">19:00</button>
                                            <button class="btn btn-default" type="button">20:00</button>
                                            <button class="btn btn-default" type="button">21:00</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
</div>

<!-- ############################### -->
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>SERVICIOS</strong>
    </div>
    
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-4">
                <div class="control-group">
                  <%= f.label :"Servicio", :class => 'control-label' %>
                <div class="controls">
                  <select name="Servicio", class="form-control input-sm" id="ComboServicios">
                    <option value="0">(Seleccione)</option>
                     <%= options_for_select(@services) %>
                  </select>
                </div>
                </div>
        </div>


<div class="col-md-2">
        <div class="control-group">
          <label>Cantidad</label>
        <div class="controls">
          <input type="number" id="Cantidad" class="form-control" value="1" min="1"></input>
        </div>
        </div>
</div>

<div class="col-md-4">
        <div class="control-group">
          <label>&nbsp;</label>
        <div class="controls">
          <a href="#" class="btn btn-primary" id="AgregarServicio" 
          ><i class="fa fa-plus"></i>&nbsp;Agregar Servicio</a>
        </div>
        </div>
</div>

</div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
  
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-bordered" id="datatable-grilla-servicios">
    <thead>	
    <tr>
      <th class="text-center">C&oacute;d. Servicio</th>
      <th class="text-center">Nombre Servicio</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Quitar</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- ############################### -->
  
<div class="row"></div>
<div class="row"></div>


<div class="col-md-8 col-md-offset-5">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
            citations_path, :class => 'btn btn-primary' %>
</div>            
            
<% end %>

<script type="text/javascript">
$(document).on('ready', function(){
  $('#Disponibilidad').hide();
  
  $("#VerDisponibilidad").click(function(){
    $('#Disponibilidad').removeAttr('style');
    $("#VerDisponibilidad").hide();
    $("#OcultarDisponibilidad").show();
  });
  $("#OcultarDisponibilidad").click(function(){
    $('#Disponibilidad').attr('style', 'display: none');
    $("#VerDisponibilidad").show();
    $("#OcultarDisponibilidad").hide();
  });
});

  $('#VerDisponibilidad').click();
</script>

<!--TABLA SERVICIOS-->
<script type="text/javascript">
  
  $(document).ready(function() {
    var tabla = $('#datatable-grilla-servicios').DataTable();
    var cont = 1;
    var quitar = "<a href='#' id='QuitarServicio'><i class='fa fa-minus-circle'></i></a>";


  // $('#Producto').on('change',function(){
  //   var id_producto = $(this).val());
  // });
    
   $("#AgregarServicio").on( 'click', function() {
    
    var idservicio = $('#ComboServicios option:selected').val();
    var textservicio = $('#ComboServicios option:selected').text();
    
          tabla.row.add(
            [
            idservicio,
            textservicio,
            $('#Cantidad').val(),
            quitar
            ]).draw();
    }),
  
  $('#QuitarServicio').on( 'click', function () {
    var tabla = $('#datatable-grilla-servicios').DataTable();
    tabla.row($(this).closest("tr").get(0)).remove().draw();
} );  
  $('#AgregarServicio').click();
  
} );

</script>