<%= form_for @citation, :html => { :class => "form-horizontal citation" } do |f| %>

    <% if @citation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@citation.errors.count, "error") %> prohibited this citation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @citation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Fecha", :class => 'control-label' %>
      <input class="form-control" placeholder="" type="date" title="Fecha" name="citation[date]" id="fecha"
      <% if f.object.date.present? %>
        value="<%= f.object.date  %>"
      <% end %>
      >
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Hora", :class => 'control-label' %>
    <div class="input-group">
        <% if f.object.time.present? %>
        <%= f.text_field :time, :value => f.object.time.strftime('%H:%M'), :class => 'form-control', :readonly => 'readonly'%> 
      <% else %>
        <%= f.text_field :time, :class => 'form-control', :readonly => 'readonly' %> 
      <% end %>
      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
    </div>
    <%= error_span(@citation[:time]) %>
  </div>
</div>


<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Cliente", :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:client_id, @clients, {:include_blank => "(Seleccione)"}, {:class => 'form-control'}) %>
    </div>
    <%= error_span(@citation[:client_id]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observaciones", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@citation[:observation]) %>
  </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-3">
<a class="btn btn-primary" id="VerDisponibilidad"><span class="icon"></span>Ver disponibilidad</a>
<a class="btn btn-primary" id="OcultarDisponibilidad" style="display: none;" ><span class="icon"></span>Ocultar disponibilidad</a>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div id="Disponibilidad" class="col-md-12">
<div class="panel panel-primary" id="panelDisponibilidad">
                            <div class="panel-heading">
                                <strong>Disponibilidad</strong>
                            </div>
                            <div class="panel-body"> 
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-3">
                                        <div aria-label="First group" role="group" class="btn-group">
                                            <button id="time8" class="btn btn-default" type="button" onclick="javascript:pintar(this)">08:00</button>
                                            <button id="time9" class="btn btn-default" type="button" onclick="javascript:pintar(this)">09:00</button>
                                            <button id="time10" class="btn btn-default" type="button" onclick="javascript:pintar(this)">10:00</button>
                                            <button id="time11" class="btn btn-default" type="button" onclick="javascript:pintar(this)">11:00</button>
                                            <button id="time12" class="btn btn-default" type="button" onclick="javascript:pintar(this)">12:00</button>
                                            <button id="time13" class="btn btn-default" type="button" onclick="javascript:pintar(this)">13:00</button>
                                            <button id="time14" class="btn btn-default" type="button" onclick="javascript:pintar(this)">14:00</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-3">
                                        <div aria-label="First group" role="group" class="btn-group">
                                            <button id="time15" class="btn btn-default" type="button" onclick="javascript:pintar(this)">15:00</button>
                                            <button id="time16" class="btn btn-default" type="button" onclick="javascript:pintar(this)">16:00</button>
                                            <button id="time17" class="btn btn-default" type="button" onclick="javascript:pintar(this)">17:00</button>
                                            <button id="time18" class="btn btn-default" type="button" onclick="javascript:pintar(this)">18:00</button>
                                            <button id="time19" class="btn btn-default" type="button" onclick="javascript:pintar(this)">19:00</button>
                                            <button id="time20" class="btn btn-default" type="button" onclick="javascript:pintar(this)">20:00</button>
                                            <button id="time21" class="btn btn-default" type="button" onclick="javascript:pintar(this)">21:00</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
</div>

<!-- ############################### -->
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>SERVICIOS</strong>
    </div>
    
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-4">
                <div class="control-group">
                  <%= f.label :"Servicio", :class => 'control-label' %>
                <div class="controls">
                  <select name="Servicio", class="form-control input-sm" id="ComboServicios">
                    <option value="0">(Seleccione)</option>
                     <%= options_for_select(@services_combo) %>
                  </select>
                </div>
                </div>
        </div>


<div class="col-md-2">
        <div class="control-group">
          <label>Cantidad</label>
        <div class="controls">
          <input type="number" id="Cantidad" class="form-control" value="1" min="1"></input>
        </div>
        </div>
</div>

<div class="col-md-4">
        <div class="control-group">
          <label>&nbsp;</label>
        <div class="controls">
          <a href="javascript:void(0)" class="btn btn-primary" id="AgregarServicio" 
          ><i class="fa fa-plus"></i>&nbsp;Agregar Servicio</a>
        </div>
        </div>
</div>

</div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
  
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-bordered" id="datatable-grilla-servicios">
    <thead>	
    <tr>
      <th class="text-center">Id Servicio</th>
      <th class="text-center">Nombre Servicio</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Quitar</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- ############################### -->
  
<div class="row"></div>
<div class="row"></div>


<div class="col-md-8 col-md-offset-5">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
            citations_path, :class => 'btn btn-primary' %>
</div>            
            
<% end %>











<style>
    #datatable-grilla-servicios .classDataTable { text-align: center; font-weight: bold; }
</style>

<script type="text/javascript">
            
  function obtenerTabla() {
    var tabla = $('#datatable-grilla-servicios').DataTable(
    {
        "bPaginate": false,  
        "bInfo": false,  
        "bFilter": false,
        "aoColumns" : [
        { sClass: "classDataTable validarCampo" },
        { sWidth: '55%' },
        { sWidth: '15%' },
        { sClass: "classDataTable" }
        ]  
    });
    
    return tabla;
  }
  
  function hacer_click(removeId)
  {
      var indice = $('#' + removeId).parent().parent().index();
      console.log(indice);
      $('#datatable-grilla-servicios').DataTable().row(indice).remove().draw( false );
  }
  
  $(document).ready(function() {
    var tabla = obtenerTabla();
    $('#Disponibilidad').hide();
  
    $("#VerDisponibilidad").click(function(){
      $('#Disponibilidad').removeAttr('style');
      $("#VerDisponibilidad").hide();
      $("#OcultarDisponibilidad").show();
    });
    
    $("#OcultarDisponibilidad").click(function(){
      $('#Disponibilidad').attr('style', 'display: none');
      $("#VerDisponibilidad").show();
      $("#OcultarDisponibilidad").hide();
    });
  
    if (<%= @contar_services %> > 0)
    {
      <% @citation_details.each do |citation_detail| %>
        var valserv = "<input type='hidden' id='<%= citation_detail.service_id %>' name='inputserv[]' value=\'" + <%= citation_detail.service_id %> + "\' />";
        var cantidad = "<input type='hidden' name='inputcantidad[]' value=\'" + <%= citation_detail.quantity %> + "\' />";
        //var cantidad = $("#Cantidad").val();
          tabla.row.add(
            [
              valserv + <%= citation_detail.service_id %>,
              "<%= citation_detail.service_name %>",
              cantidad + "<%= citation_detail.quantity %>",
              "<a href='javascript:void(0)' id='Quitar' onclick='hacer_click(\"" + <%= citation_detail.service_id %> + "\")'><i class='fa fa-minus-circle'></i></a>"
            ]).draw();
            existe = false;
      <% end %>
    }
    

    
    $("#AgregarServicio").on( 'click', function() {
      
      var idservicio = $('#ComboServicios option:selected').val();
      var textservicio = $('#ComboServicios option:selected').text();
      var cantidad = "<input type='hidden' name='inputcantidad[]' value=\'" + $('#Cantidad').val() + "\' />";
      var idserv = "<input type='hidden' id='" + idservicio + "' name='inputserv[]' value=\'" + idservicio + "\' />";
    
      if (idservicio == 0) {
        alert("Seleccione un servicio");
      } 
      else {
        existe = false;
        $.each($('#datatable-grilla-servicios tbody tr .validarCampo'), function() {
          var valor = $(this).last().text();
          console.log(valor + ' ' + idservicio);
          if (idservicio === valor) {
              existe = true;
          } 
        });
          if (existe) {
            alert('Servicio existente no se puede ingresar');
          } 
          else {
            tabla.row.add(
              [
              idserv + idservicio,
              textservicio,
              cantidad + $('#Cantidad').val(),
              "<a href='javascript:void(0)' id='Quitar' onclick='javascript:hacer_click(" + idservicio + ")'><i class='fa fa-minus-circle'></i></a>"
              ]).draw();
          }
      }
    });
    
    $('#datatable-grilla-servicios tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
           $(this).removeClass('selected');
      } else {
          tabla.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
      }
    });
    
    $('#QuitarServicio').on( 'click', function () {
      if ($('#datatable-grilla-servicios tbody tr').hasClass('selected')) {
        tabla.row('.selected').remove().draw( false );
      } else {
        alert('Elija un servicio para quitar');
      }
    });
    
});


  function pintar(button)
  {
    $('#citation_time').val($('#'+ button.id).last().text());
  }
  
</script>