<%- model_class = Citation -%>
<div class="page-header">
  <h3><B><%=t '.title', :default => 'CITAS' %></B></h3>
</div>


<div id="calendar">

  <h3 id="month"><b>
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </b></h3>
  
    <%= calendar_for(@citations, :year => @date.year, :month => @date.month) do |t| %>
    <%= t.head('Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado')%>
    <%= t.day(:day_method => :date) do |day, citations| %>
          <% if citations.nil? %>
            <%= day.cweek %>
          <% else %>
            <%= day.day %>
            <ul>
              <% citations.each do |citation| %>
                <li><%= link_to citation.client_name + ' ' + citation.client_firstlastname + ' -  ' +  citation.time.strftime('%H:%M'), citation %></li>
              <% end %>
            </ul>
          <% end %>
    <% end %>
  <% end %>


</div>

  
<br/><br/>






<div class="col-md-3">
   <div class="form-group">
    <label>Estado:</label>
    <select name="Estado", class="form-control input-sm" title="Estado">
      <option value="4">Todas</option>
      <option value="1">Pendiente</option>
      <option value="2">Atendida</option>
      <option value="3">Anulada</option>
    </select>
    <span class="help-block"></span>
  </div>
</div>
                                    
<div class="col-md-3">
  <div class="form-group">
    <label>Fecha Inicio</label>
      <input class="form-control input-sm" placeholder="" type="date" value="<%= Time.now.strftime('%Y-%m-%d') %>" name="fechaIni">
      <span class="add-on"><i class="icon-th"></i></span>

  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
    <label>Fecha Fin</label>
      <input class="form-control input-sm" placeholder="" type="date" value="<%= Time.now.strftime('%Y-%m-%d') %>" name="fechaFin">
      <span class="add-on"><i class="icon-th"></i></span>
  </div>
</div>

<div class="col-md-3 col-md-offset-0">
  <div class="form-group">
    <label>&nbsp;</label>
    <a href="#" class="btn btn-sm btn-primary btn-block" title="Buscar"><i class="fa fa-search"></i>&nbsp; BUSCAR</a>
    <span class="help-block"></span>
  </div>
</div>

<div class="col-md-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Fecha</th>
      <th style="text-align: center">Hora</th>
      <th style="text-align: center">Paciente</th>
      <th style="text-align: center">Estado</th>
      <!--<th style="text-align: center">Fecha creaci&oacute;n</th>-->
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @citations_lista.each do |citation| %>
      <tr>
        <td align="center"><b><%= citation.id %></b></td>
        <td align="center"><%= citation.date %></td>
        <td align="center"><%= citation.time.strftime('%H:%M') %></td>
        <td><%= citation.client_name %> <%= citation.client_firstlastname %> <%= citation.client_secondlastname %></td>
        <td align="center">
          <% case citation.state %>
            <% when 1 %>
              Pendiente
            <% when 2 %>
              Atendida
            <% when 3 %>
              Anulada
          <% end %>
        <td align="center">
           <%= link_to "<i class='fa fa-eye'></i>".html_safe,
                      citation_path(citation) %>

          <%= link_to "<i class='fa fa-pencil'></i>".html_safe,
                      edit_citation_path(citation) %>
                      
           <%= link_to "<i class='fa fa-times'></i>".html_safe,
                      citation_path(citation),
                      :method => :update_state,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.anular", :default => '¿Está seguro de anular?')) } %>
          
          <%= link_to "<i class='fa fa-file-pdf-o'></i>".html_safe, citation_path(citation, :format => "pdf") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div="row">&nbsp;</div>
<div class="col-md-8 col-md-offset-5">
<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_citation_path,
            :class => 'btn btn-primary' %>
</div>






<script type="text/javascript">
  alert("<%= %>")
</script>
