<%- model_class = Citation -%>
<div class="page-header">
  <h3><B><%=t '.title', :default => 'CITAS' %></B></h3>
</div>


<div class="col-md-3">
   <div class="form-group">
    <label>Estado:</label>
    
    <select name="citation[state]", class="form-control input-sm" title="Estado" name="Estado">
      <option selected value="1">(Seleccione)</option>
      <option value="2">Pendiente</option>
      <option value="3">Atendida</option>
      <option value="4">Anulada</option>
    </select>
    <span class="help-block"></span>
  </div>
</div>
                                    
<div class="col-md-4">
  <div class="form-group">
    <label>Fecha Inicio</label>
      <input class="form-control input-sm" placeholder="" type="date" title="Fecha Inicio" name="citation[fecha]" id="fecha">
      <span class="add-on"><i class="icon-th"></i></span>
      <script type="text/javascript">
        $(function () {
        $('#fecha').datetimepicker();
        });
      </script>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
    <label>Fecha Fin</label>
      <input class="form-control input-sm" placeholder="" type="date" title="Fecha Inicio" name="citation[fecha]" id="fecha">
      <span class="add-on"><i class="icon-th"></i></span>
  </div>
</div>

<div class="col-md-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Fecha</th>
      <th style="text-align: center">Hora</th>
      <th style="text-align: center">Paciente</th>
      <th style="text-align: center">Estado</th>
      <!--<th style="text-align: center">Fecha creaci&oacute;n</th>-->
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @citations.each do |citation| %>
      <tr>
        <td align="center"><%= citation.id %></td>
        <td><%= citation.date %></td>
        <td><%= citation.time %></td>
        <td align="center"></td>
        <td align="center">
           <%= link_to "<i class='fa fa-eye'></i>".html_safe,
                      citation_path(citation) %>

          <%= link_to "<i class='fa fa-pencil'></i>".html_safe,
                      edit_citation_path(citation) %>
                      
          <%= link_to "<i class='fa fa-times'></i>".html_safe,
                      citation_path(citation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de anular?')) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div="row">&nbsp;</div>
<div class="col-md-8 col-md-offset-5">
<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_citation_path,
            :class => 'btn btn-primary' %>
</div>

