<%- model_class = Citation -%>
<div class="row"></div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Fecha:</strong></dt>
  <dd><%= @citation.date %></dd>
  <dt><strong>Hora:</strong></dt>
  <dd><%= @citation.time %></dd>
  <dt><strong>Observaciones:</strong></dt>
  <dd><%= @citation.observation %></dd>
</dl>

<%= link_to t('.back', :default => t("CERRAR")),
              citations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("EDITAR")),
              edit_citation_path(@citation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("ELIMINAR")),
              citation_path(@citation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
