<!DOCTYPE html>
<html>
<head>
    <title>Veterinaria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <span>
              <%= image_tag "mi-mascota.jpg", height: '150', width: '310' %>
            </span>
            <h2 class="panel-title">
              <strong>MI MASCOTA</strong> &nbsp;&nbsp;<small>CAMBIAR CONTRASEÑA</small>
            </h2>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group">
                <%= f.label :password, "Nueva contraseña" %><br />
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres minimos)</em>
                <% end %><br />
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.submit "Cambiar contraseña", class: "btn btn-md btn-primary btn-block" %>
              </div>
            <% end %>
            <div class="form-group">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>