<%= form_for(@service_detail) do |f| %>
  <% if @service_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_detail.errors.count, "error") %> prohibited this service_detail from being saved:</h2>

      <ul>
      <% @service_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
