<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

    <% if @service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:name]) %>
  </div>
</div>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Precio", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:price]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observación", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:observation]) %>
  </div>
</div>

<!-- ############################### -->
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-12">
  <h4><b><%=t '.title', :default => 'PRODUCTOS'%></b></h4>

<div class="col-md-4">
        <div class="control-group">
          <%= f.label :"Producto", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :citation_id, :class => 'form-control' %>
        </div>
        </div>
</div>

<div class="col-md-4">
        <div class="control-group">
          <%= f.label :" " , :class => 'control-label' %>
        <div class="controls">
          <a href="javascript:cargar( '#' );" class="btn btn-primary" title="Agregar Producto">
          <i class="fa fa-plus"></i>&nbsp; Agregar Producto</a>
        </div>
        </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<table class="table table-striped table-bordered table-hover"  style="padding-left: 20">
  <thead>
    <tr>
      <th style="text-align: center">Id Producto</th>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Quitar</th>
    </tr>
  </thead>
  <tbody>
    <% @service_details.each do |service_detail| %>
      <tr>
        <td align="center"><b><%= product.id%></b></td>
        <td><%= service_detail.product_name %></td>
        <td align="center">
          <%= link_to "<i class='fa fa-minus-circle'></i>".html_safe,
                      service_detail_path(service_detail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.quitar", :default => '¿Está seguro de eliminar?')) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<!-- ############################### -->

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
  
  <div class="col-md-6 col-sm-offset-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
              services_path, :class => 'btn btn-primary' %>
               
  </div>
  
<% end %>

