<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

    <% if @service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:name]) %>
  </div>
</div>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Precio", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:price]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observación", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:observation]) %>
  </div>
</div>

<!-- ############################### -->
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>PRODUCTOS</strong>
    </div>
    
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-4">
                <div class="control-group">
                  <%= f.label :"Producto", :class => 'control-label' %>
                <div class="controls">
                  <select name="Producto", class="form-control input-sm" title="Producto" id="Producto">
                    <option value="0">(Seleccione)</option>
                     <%= options_for_select(@product) %>
                  </select>
                </div>
                </div>
        </div>

<script type="text/javascript">
  
  $(document).ready(function() {
    var tabla = $('#datatable-grilla-productos').DataTable();
    var cont = 1;
    var quitar = "<a href='#' title='Quitar'><i class='fa fa-minus-circle'></i></a>";

   $("#AgregarProducto").on( 'click', function() {
     
    var idproducto = $('#Producto').val();
    var textproducto = $('#Producto').text();
    
          tabla.row.add(
            [
            idproducto,
            textproducto,
            quitar
            ]).draw();
    }),
    
  //$('#AgregarProducto').click();
} );

</script>

<div class="col-md-4">
        <div class="control-group">
          <label>&nbsp;</label>
        <div class="controls">
          <a href="#" class="btn btn-primary" title="Agregar Producto" id="AgregarProducto" 
          ><i class="fa fa-plus"></i>&nbsp;Agregar Producto</a>
        </div>
        </div>
</div>
</div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
  
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="datatable-grilla-productos">
    <thead>	
    <tr>
      <th class="text-center">C&oacute;d. Servicio</th>
      <th class="text-center">Nombre Servicio</th>
      <th class="text-center">Quitar</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- ############################### -->

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
  
  <div class="col-md-6 col-sm-offset-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
              services_path, :class => 'btn btn-primary' %>
               
  </div>
  
<% end %>

