<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

    <% if @service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:name]) %>
  </div>
</div>

<div class="col-md-6">
  <div class="control-group">
    <%= f.label :"Precio", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:price]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observación", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:observation]) %>
  </div>
</div>

<!-- ############################### -->
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>PRODUCTOS</strong>
    </div>
    
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-4">
                <div class="control-group">
                  <%= f.label :"Producto", :class => 'control-label' %>
                <div class="controls">
                   <%= f.select(:id, @product, {:include_blank => "(Seleccione)"}, {:class => 'form-control'})%>
                </div>
                </div>
        </div>

<div class="col-md-4">
        <div class="control-group">
          <label>&nbsp;</label>
        <div class="controls">
          <a href="javascript:cargar( '#' );" class="btn btn-primary" title="Agregar Producto">
          <i class="fa fa-plus"></i>&nbsp; Agregar Producto</a>
        </div>
        </div>
</div>
</div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
  
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="datable-grilla-productos">
    <thead>	
    <tr>
      <th class="text-center">C&oacute;d. Servicio</th>
      <th class="text-center">Nombre Servicio</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Quitar</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="text-center">
      <a href="#" title="Quitar"><i class='fa fa-minus-circle'></i></a>
      </td>
    </tr>
    <tr class="even">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="text-center">
      <a href="#" title="Quitar"><i class='fa fa-minus-circle'></i></a>
      </td>
    </tr>
    <tr class="odd">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="text-center">
      <a href="#" title="Quitar"><i class='fa fa-minus-circle'></i></a>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- ############################### -->

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
  
  <div class="col-md-6 col-sm-offset-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
              services_path, :class => 'btn btn-primary' %>
               
  </div>
  
<% end %>

