<%- model_class = Service -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'SERVICIOS' %></b></h3>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Precio</th>
      <th style="text-align: center">Observaciones</th>
      <th style="text-align: center">Citaci&oacute;n Id</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.id, service_path(service) %></td>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= service.observation %></td>
        <td><%= service.citation_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_path(service), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
