<%- model_class = Service -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'VER SERVICIO'%></b></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @service.name %></dd>
  <dt><strong>Precio:</strong></dt>
  <dd><%= @service.price %></dd>
  <dt><strong>Observaciones:</strong></dt>
  <dd><%= @service.observation %></dd>
  <dt><strong>id citación:</strong></dt>
  <dd><%= @service.citation_id %></dd>
</dl>

<%= link_to t('.back', :default => t("CERRAR")),
              services_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("EDITAR")),
              edit_service_path(@service), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("ELIMINAR")),
              service_path(@service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) },
              :class => 'btn btn-danger' %>
