<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

    <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Nombre producto", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:name]) %>
  </div>
</div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Categoría", :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:product_category_id, @product_category,{:include_blank => "(Seleccione)"}, {:class => 'form-control'}) %>
    </div>
    <%= error_span(@product[:product_category_id]) %>
  </div>
</div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Unidad de medida", :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:unit_measure_id, @unit_measure, {:include_blank => "(Seleccione)"}, {:class => 'form-control'}) %>
    </div>
    <%= error_span(@product[:unit_measure_id]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Descripción larga", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long_description, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:long_description]) %>
  </div>
</div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Precio costo", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:cost_price]) %>
  </div>
</div>

<div class="col-md-4">
  <div class="control-group">
    <%= f.label :"Precio venta", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sale_price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:sale_price]) %>
  </div>
</div>

<div class="col-md-12">
  <div class="control-group">
    <%= f.label :"Observaciones", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:observation]) %>
  </div>
</div>



  <div class="row">&nbsp;
  </div>
  <div class="row">&nbsp;
  </div>
  
  <div class="col-md-6 col-sm-offset-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
              products_path, :class => 'btn btn-primary' %>
  </div>
  
<% end %>
