<%= form_for @patient, :html => { :class => "form-horizontal patient" } do |f| %>

    <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Nombre", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@patient[:name]) %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Color", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :color, :class => 'form-control' %>
      </div>
      <%= error_span(@patient[:color]) %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Fecha nacimiento", :class => 'control-label' %>
      <input class="form-control" placeholder="" type="date" title="Fecha nacimiento" name="patient[birthday]" id="fecha">
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>
  
  <div class="col-md-4">
   <div class="control-group">
     <%= f.label :"Sexo", :class => 'control-label' %>
    <select name="patient[sex]", class="form-control" title="Sexo" name="Sexo">
      <option selected value="1">(Seleccione)</option>
      <option value="Femenino">Femenino</option>
      <option value="Masculino">Masculino</option>
    </select>
    <span class="help-block"></span>
  </div>
</div>

  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Peso (Kg)", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :weight, :class => 'form-control' %>
      </div>
      <%= error_span(@patient[:weight]) %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="control-group">
      <%= f.label :"Cliente", :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:client_id, @client, {:include_blank => "(Seleccione)"} ,{:class => 'form-control'})%>
      </div>
      <%= error_span(@patient[:client_id]) %>
    </div>
  </div>

  <div class="col-md-6 col-sm-offset-4">
    <div class="control-group">
      <label>&nbsp;</label>
    </div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.submit.cancel")),
              patients_path, :class => 'btn btn-primary' %>
  </div>
<% end %>
