<%- model_class = Patient -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'PACIENTES' %></b></h3>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id Paciente</th>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Color</th>
      <th style="text-align: center">Fecha nac.</th>
      <th style="text-align: center">Sexo</th>
      <th style="text-align: center">Peso</th>
      <th style="text-align: center">Dueño</th>
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td align="center" font-bold="true"><b><%= patient.id%></b></td>
        <td><%= patient.name %></td>
        <td><%= patient.color %></td>
        <td align="center"><%= patient.birthday %></td>
        <td align="center"><%= patient.sex %></td>
        <td align="right"><%= patient.weight %></td>
        <td><%= patient.client_name %> <%= patient.client_firstlastname %></td>
        <td align="center">

          <%= link_to "<i class='fa fa-eye'></i>".html_safe,
                      patient_path(patient) %>

          <%= link_to "<i class='fa fa-pencil'></i>".html_safe,
                      edit_patient_path(patient) %>
                      
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe,
                      patient_path(patient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-8 col-md-offset-5">
<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
</div>