<%- model_class = Patient -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'PACIENTES' %></b></h3>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Color</th>
      <th style="text-align: center">Fecha</br>nacimiento</th>
      <th style="text-align: center">Sexo</th>
      <th style="text-align: center">Peso</th>
      <th style="text-align: center">Dueño</th>
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.id, patient_path(patient) %></td>
        <td><%= patient.name %></td>
        <td><%= patient.color %></td>
        <td><%= patient.birthday %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.weight %></td>
        <td></td>
        <td align="center">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_path(patient), :class => 'btn btn-default btn-xs' %>
                      

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      patient_path(patient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
