<%= form_for @citation_detail, :html => { :class => "form-horizontal citation_detail" } do |f| %>

    <% if @citation_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@citation_detail.errors.count, "error") %> prohibited this citation_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @citation_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@citation_detail[:quantity]) %>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    <%= error_span(@citation_detail[:amount]) %>
  </div>
  <div class="control-group">
    <%= f.label :citation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :citation_id, :class => 'form-control' %>
    </div>
    <%= error_span(@citation_detail[:citation_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :service_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :service_id, :class => 'form-control' %>
    </div>
    <%= error_span(@citation_detail[:service_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            citation_details_path, :class => 'btn btn-default' %>

<% end %>
