<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

    <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :firstlastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstlastname, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:firstlastname]) %>
  </div>
  <div class="control-group">
    <%= f.label :secondlastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :secondlastname, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:secondlastname]) %>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:birthday]) %>
  </div>
  <div class="control-group">
    <%= f.label :direction, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direction, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:direction]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:email]) %>
  </div>

  <div class="control-group">
    <label>&nbsp;</label>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            clients_path, :class => 'btn btn-default' %>

<% end %>
