<%- model_class = Client -%>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'CLIENTES' %></b></h3>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id Cliente</th>
      <th style="text-align: center">Nombres</th>
      <th style="text-align: center">Direcci&oacute;n</th>
      <th style="text-align: center">Tel&eacute;fono</th>
      <th style="text-align: center">Correo-e</th>
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td align="center" font-bold="true"><b><%= client.id %></b></td>
        <td><%= client.name %> <%= client.firstlastname %>  <%= client.secondlastname %></td>
        <td><%= client.direction %></td>
        <td align="center"><%= client.phone %></td>
        <td><%= client.email %></td>
        <td align="center">

          <%= link_to "<i class='fa fa-eye'></i>".html_safe,
                      client_path(client) %>

          <%= link_to "<i class='fa fa-pencil'></i>".html_safe,
                      edit_client_path(client) %>
                      
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe,
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-8 col-md-offset-5">
<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
</div>