<%- model_class = Client -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => 'CLIENTES' %></b></h3>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Nombres</th>
      <th style="text-align: center">Apellidos</th>
      <th style="text-align: center">Direcci&oacute;n</th>
      <th style="text-align: center">Tel&eacute;fono</th>
      <th style="text-align: center">Correo-e</th>
      <th style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client_path(client) %></td>
        <td><%= client.name %></td>
        <td><%= client.firstlastname %>  <%= client.secondlastname %></td>
        <td><%= client.direction %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td align="center">
          <div class="imagen_accion">
           <%= link_to image_tag "error-small.png" %>
          </div>
           <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_path(client), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.submit.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
